<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dbr_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dbr_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadGS1AI">
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

        <activity
            android:name=".HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>